@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: poppins;
    src: url('./fonts/poppins_rg.ttf');
    font-weight: 400;
}

@font-face {
    font-family: poppins;
    src: url('./fonts/poppins_md.ttf');
    font-weight: 500;
}

@font-face {
    font-family: poppins;
    src: url('./fonts/poppins_sbld.ttf');
    font-weight: 600;
}

@font-face {
    font-family: poppins;
    src: url('./fonts/poppins_bld.ttf');
    font-weight: 700;
}

/* Animations */
.fade-enter-active,
.fade-leave-active {
transition: opacity 0.1s ease-in-out;
}
.fade-enter-from,
.fade-leave-to {
opacity: 0;
}

* {
    scroll-behavior: smooth;
}

@layer base {
    html {
        font-family: poppins;
    }

    /* Additional self made tailwind rules */
    .grid-overlap{
        grid-row : 1;
        grid-column: 1;
    }

    .bg-diamond-red{
        background-image: url('@/assets/icons/ic_diamond_red.svg');
    }
    
    
    .bg-diamond-light{
        background-image: url('@/assets/icons/ic_diamond.svg');
    }

    .grid-cols-4{
        grid-template-columns: repeat(3, auto);
        gap: 25px;
    }

    .grid-cols-2 {
        grid-template-columns: repeat(2, auto);
    }
}